<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Wikipraktika | Taschenrechner - tragbare, handliche elektronische Rechenmaschine</title>

		<!-- TODO: author, publisher, description, bookmark icon -->
		<meta name="author" content="Wikipraktika">
		<meta name="publisher" content="Wikipraktika">
		<meta name="description" content="Taschenrechner: tragbare, handliche elektronische Rechenmaschine">
		<link rel="icon" type="image/png" href="../media/icon-wikipraktika.png">
		<link rel="stylesheet" type="text/css" href="styles/styles.css">
	</head>
	<body>
		<header>
			<!-- TODO -->
			<img src="../media/logo-wikipraktika.svg" id="logo" alt="logo">
			<h1>Wikipraktika</h1>
		</header>
		<!--navigation-->
		<nav class="navigation">
			<header>
				<h2>Navigation</h2>
			</header>
			<ul>
				<li><a href="/de/">Hauptseite</a></li>
				<li><a href="/de/topics/">Themenportale</a></li>
				<li>Mitmachen
					<ul>
						<li><a href="/de/join/enhance-article/calculator">Artikel verbessern</a></li>
						<li><a href="/de/join/create-article">Neuen Artikel anlegen</a></li>
						<li><a href="/de/join/author-portal">Autorenportal</a></li>
						<li><a href="/de/join/help">Hilfe</a></li>
						<li><a href="/de/join/last-changes/calculator">Letzte Änderungen</a></li>
						<li><a href="/de/join/contact">Kontakt</a></li>
						<li><a href="/de/join/donate">Spenden</a></li>
					</ul>
				</li>
				<li>Werkzeuge
					<ul>
						<li><a href="/de/calculator/tools/links-to-this-page">Links auf diese Seite</a></li>
						<li><a href="/de/calculator/tools/linked-changes">Änderungen an verlinkten Seiten</a></li>
						<li><a href="/de/calculator/tools/permanent-link">Permanenter Link</a></li>
						<li><a href="/de/calculator/tools/cite-article">Artikel zitieren</a></li>
					</ul>
				</li>
				<li>In anderen Sprachen
					<ul>
						<li><a href="/it/articles/calculator" hreflang="it">Italiano</a></li>
						<li><a href="/fr/articles/calculator" hreflang="fr">Francais</a></li>
						<li><a href="/en/articles/calculator" hreflang="en">English</a></li>
					</ul>
				</li>
			</ul>
		</nav>


		<main>
			<!-- Schriftgrössenwechsler: optionale Aufgabe -->
			<form id="font-size-form">
				<label for="font-slider">Schriftgrösse</label>
				<input type="range" min="8" max="20" step="1" value="10" title="1" name="font-slider"
					   id="font-slider" />
				<output name="font-size" id="font-size">1</output>
			</form>
			<header>
				<h2>Taschenrechner</h2>
			</header>
			<!-- 1. Taschenrechner-->
			<article>
				<header>
					<h3>Taschenrechner</h3>
				</header>
				<p>
					Ein Taschenrechner ist eine tragbare, handliche elektronische Rechenmaschine,
					mit deren Hilfe numerische Berechnungen ausgeführt werden können.
					Einige neuere technisch-wissenschaftliche Taschenrechner beherrschen auch symbolische Mathematik mittels eines Computeralgebrasystems (CAS),
					können also etwa Gleichungen umstellen oder lösen.
				</p>
				<p>
					Praktisch alle heutigen Taschenrechner verwenden elektronische Integrierte Schaltungen und
					LC-Displays als Anzeige und werden von einer Batterie oder Solarzelle mit Strom versorgt.
				</p>
				<figure id="merchant_calc">
					<img src="../media/900px-SCM_Marchant_calculator.jpg" alt="1960s SCM Marchant calculator "/>
					<figcaption>
						<p>By <a href="commons.wikimedia.org/wiki/User:Bilby">Bilby</a> - Own work, <a
								href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a>,</p>
						<p>https://commons.wikimedia.org/w/index.php?curid=10980797</p>
					</figcaption>
				</figure>
				<h4>Geschichte</h4>
				<p>
					Bereits vor der Einführung der elektronischen Taschenrechner gab es einen Bedarf nach
					tragbaren Rechenhilfen. Dieser wurde mit mechanischen Taschenrechnern und Rechenschiebern
					befriedigt. Meist handelte es sich dabei um einfache Addiermaschinen. Auch
					Vier-Spezies-Maschinen – also Rechenmaschinen, die Addition, Subtraktion, Multiplikation und
					Division beherrschten – gab es in taschentauglicher Größe. Bekanntestes Beispiel ist die Curta.
				</p>
				<p>
					Vorläufer der elektronischen Taschenrechner waren elektronische Tischrechner, bei denen der
					Integrationsgrad der Schaltungstechnik noch geringer war und die deshalb größere Dimensionen
					aufwiesen.
				</p>

				<p>
					Der erste elektronische, tatsächlich handflächengroße Taschenrechner wurde 1967 von Texas
					Instruments entwickelt.[1] Ein 1,5 kg schwerer Prototyp dieses ersten Taschenrechners ist
					heute in der Smithsonian Institution ausgestellt. Auch dieser lief schon mit Batterien,
					frühere Rechner benötigten einen Stromanschluss.
					Die ersten kommerziell vertriebenen Taschenrechner wurden <time datetime="1969">1969</time>
					und 1970 von den japanischen Firmen Compucorp,
					Sanyo, Sharp und Canon hergestellt.
					Intel entwickelte für die japanische Firma Busicom einen der ersten Mikroprozessoren,
					den Intel 4004, der <time datetime="1971">1971</time> auf den Markt kam und in dem Modell
					Busicom 141-PF verwendet wurde.
					Als erster Taschenrechner, der mit einem Verkaufspreis von 10.000 Yen für die breite Masse erschwinglich war,
					gilt der <time datetime="1972">1972</time> veröffentlichte Casio Mini.[2] <time datetime="1972">1972</time> brachte Texas
					Instruments den
					Taschenrechner SR 10 mit dem eigenen Mikroprozessor TMS1000 heraus.
					Diese Taschenrechner verfügten über wenig mehr als die vier Grundrechenarten.
					1971 stellte Bowmar den ersten in den USA erhältlichen
					Taschenrechner her (Bowmar 901B/„Bowmar Brain“, Maße: 131 mm ×77 mm × 37 mm).
					Er hatte vier Funktionen und ein achtstelliges rotes LED-Display. Verkauft wurde er für 240 US$.
					Bowmar musste <time datetime="1976">1976</time> schließen.
				</p>
				<p>
					1972 erschien mit dem HP-35 von Hewlett-Packard der erste technisch-wissenschaftliche
					Taschenrechner mit trigonometrischen, logarithmischen und Exponentialrechnungs-Funktionen. Er
					wurde ein Verkaufserfolg und leitete das Ende der damals noch weit verbreiteten Rechenschieber ein.
					Einer seiner Entwickler war Steve Wozniak, der wenige Jahre später das Unternehmen Apple mitgründete
					und als Computer-Ingenieur die Entwicklung des Personal Computer maßgeblich beeinflusste.
				</p>
				<p>
					Vor allem Hewlett Packard und Texas Instruments entwickelten ab <time datetime="1974">1974</time> auch programmierbare
					Taschenrechner.
				</p>
				<h4>Numerische Genauigkeit</h4>
				<p>
					Auch wenn heutige Taschenrechner im Regelfall kaum Programmfehler bei einfachen Berechnungen
					aufweisen, lassen sich zwischen verschiedenen Taschenrechnermodellen unterschiedliche
					Genauigkeiten und Auflösungen bei numerischen Berechnungen bestimmen.
					Die Gründe liegen in den numerischen Näherungsverfahren (beispielsweise Horner-Schema und CORDIC),
					mit denen beispielsweise transzendente Funktionen wie die Sinus-Funktion berechnet werden.
					Genauer gesagt kommt es auf die Anzahl der abgespeicherten Koeffizienten für die Funktionsapproximationen an:
					der dafür benötigte Speicherplatz war vor allem in der Anfangszeit ein extremer Engpass.
					Diese kleinen Unterschiede in den Verfahren und unterschiedliche Genauigkeiten lassen sich auch
					als Erkennungsmerkmal für eine bestimmte Firmware verwenden.
				</p>
				<p>
					Beispielsweise liefert die numerische Berechnung von sin (22) in Radiant auf verschiedenen
					Taschenrechnern voneinander abweichende Ergebnisse.
				</p>
				<small>
					Source Wikipedia: <a href="https://de.wikipedia.org/wiki/Taschenrechner">de.wikipedia.org/wiki/Taschenrechner</a>
				</small>
			</article>
			<!-- TODO 2. Demo-->
			<article>
				<header>
					<h3>Demonstration</h3>
				</header>
				<!--TODO add figure and figcaption-->
				<!-- TODO JS calc -->
			</article>
			<!-- 3 Bedienung-->
			<article>
				<header>
					<h3>Bedienung des TI-Nspire CX CAS</h3>
				</header>
				<figure>
					<video id="video_ti-nspire" controls poster="../media/ti-nspire-cx-cas.png">
						<source src="../media/TI-Nspire%20CX%20CAS%203D%20Model.webm" type="video/webm">
						<source src="../media/TI-Nspire%20CX%20CAS%203D%20Model.mp4" type="video/mp4">
						<track src="../media/ti-nspire-subtitles.en.vtt" kind="subtitles" srclang="en" label="English" default>
					</video>
					<figcaption>
						<p class="video_caption">TI-Nspire CX CAS Demonstration</p>
						<p class="reference">
							Von TheConnerdy,
							<a href="http://creativecommons.org/licenses/by-sa/3.0">CC BY-SA 3.0</a>
							,
							<a href="https://www.youtube.com/watch?v=6gKkz4VkSgk">via Youtube</a>
						</p>
					</figcaption>
				</figure>
				<footer>
					<div class="last_changed">
						<p class="last_changed_left">Zuletzt geändert von Philipp Graf</p>
						<time class="last_changed_right" datetime="2016-02-11 12:45">
							Donnerstag, 11. Februar 2016, 12:45
						</time>
					</div>
				</footer>
			</article>
			<!-- 4 calc variations -->
			<article>
				<header>
					<h3>Taschenrechnervarianten</h3>
				</header>
				<dl>
					<dt>Einfach</dt>
					<dd>Grundrechenarten, Prozenrechnung</dd>
					<dt>Finanzwirtschaft</dt>
					<dd>Zinsrechnung, …</dd>
					<dd>um Beispiel der „Klassiker“ HP-12C (hergestellt seit <time datetime="1981">1981</time>), HP 17 B (II) (hergestellt seit <time datetime="1988">1988</time></dd>
					<dt>Boolesche Rechnungen</dt>
					<dd>Rechnen mit Dual-, Oktal- und Hexadezimalzahlen, z. B. TI Programmer)</dd>
					<dt>Wissenschaftlich</dt>
					<dd>Winkelfunktionen, Logarithmus, mathematische Statistik, …</dd>
					<dd>zum Beispiel TI-30 (seit <time datetime="1976">1976</time> dieselbe Typbezeichnung für intern völlig unterschiedliche Geräte</dd>
					<dt>Programmierbarer Taschenrechner</dt>
					<dt>Grafikfaähiger Taschenrechner</dt>
					<dd>Funktions-/Kurvendarstellung</dd>
					<dd>ab <time datetime="1985">1985</time> Geräte von Casio (fx-Serie, aktuelles Modell fx 9860G SD)</dd>
					<dd><time datetime="1989">1989</time> bis heute die HP-48-49-Reihe</dd>
					<dd>ab <time datetime="1993">1993</time> der TI-82 und seine Nachfolger</dd>
					<dd>aktuell der TI-84 Plus und TI-Nspire</dd>
					<dd>Grafikrechner sind typischerweise auch programmierbar.</dd>
					<dt>Computeralgebra-Rechner</dt>
					<dd>grafikfähige Taschenrechner mit eingebautem Computeralgebra-Kern</dd>
					<dd>erstes verbreitetes Gerät war der HP-48 von Hewlett-Packard (ab <time datetime="1989">1989</time>),
						spätere Geräte zum Beispiel TI-92(+) (ab <time datetime="1995">1995</time>), TI-89 (ab
						1998) und Voyage 200 (ab <time datetime="2002">2002</time>), TI-Nspire CAS (ab <time datetime="2007">2007</time>)
						von Texas Instruments, ClassPad 300 von Casio, HP 49g+ von
						Hewlett-Packard.
					</dd>
				</dl>
				<small class="caption">Taschenrechnervarianten, Source Wikipedia:
					<a href="https://de.wikipedia.org/wiki/Taschenrechner">de.wikipedia.org/wiki/Taschenrechner</a>
				</small>
				<footer>
					<div class="last_changed">
						<p class="last_changed_left">Zuletzt geändert von Gabriela Kant</p>
						<time class="last_changed_right" datetime="2016-02-11 10:09">
							Donnerstag, 11. Februar 2016, 10:09
						</time>
					</div>
				</footer>
			</article>
			<!-- 5 Zeitgewinn-->
			<article>
				<header>
					<h3>Zeitgewinn</h3>
				</header>
				<table>
					<caption>Zeitgewinn durch Benutzung eines Taschenrechners</caption>
					<tr>
						<th></th>
						<th>2-Stellen</th>
						<th>3-Stellen</th>
						<th>4-Stellen</th>
					</tr>
					<tr>
						<th>Addition / Substraktion</th>
						<td>4</td>
						<td>8</td>
						<td>20</td>
					</tr>
					<tr>
						<th>Multiplikation</th>
						<td rowspan="2">15</td>
						<td rowspan="2">45</td>
						<td>240</td>
					</tr>
					<tr>
						<th>Division</th>
						<td>210</td>
					</tr>
					<tr>
						<th>Modulo</th>
						<td>5</td>
						<td>20</td>
						<td>65</td>
					</tr>
					<tr>
						<th>Quersumme</th>
						<td colspan="2">1</td>
						<td>2</td>
					</tr>
					<tr>
						<th>Wurzelziehen</th>
						<td colspan="3">Kaum machbar von Hand</td>
					</tr>
					<tr>
						<th>Potenzieren</th>
						<td>25</td>
						<td>75</td>
						<td>550</td>
					</tr>

				</table>
				<figure>
					<object id="svg_zeitgewinn" role="img"  data="../media/zeitgewinn.svg" type="image/svg+xml">
					<!--Fallback-->
					Ihr Browser kann leider kein svg darstellen.
					</object>
				</figure>
				<footer>
					<div class="last_changed">
						<p class="last_changed_left">Zuletzt geändert von Leandra Gross</p>
						<time class="last_changed_right" datetime="2016-02-29 13:06">
							Freitag, 29. Februar 2016, 13:06
						</time>
					</div>
				</footer>
			</article>

			<!-- 6 calculator tricks-->
			<article>
				<header>
					<h3>iPhone calculator tricks</h3>
				</header>
				<figure id="video_youtube">
					<div id="wrapper_youtube">
						<iframe
								src="https://www.youtube.com/embed/a7rcVgb41-0"
								allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
								allowfullscreen>
						</iframe>
					</div>
					<figcaption>
						<p class="video_caption">iPhone Calculator Tricks on YouTube:
							<a class="reference" href="https://www.youtube.com/watch?v=a7rcVgb41-0">youtube.com/watch?v=a7rcVgb41-0</a>
						</p>
					</figcaption>
				</figure>
				<footer>
					<div class="last_changed">
						<p class="last_changed_left">Zuletzt geändert von Paul Sarner</p>
						<time class="last_changed_right" datetime="2016-02-10 18:38">
							Donnerstag, 10. Februar 2016, 18:38
						</time>
					</div>
				</footer>
			</article>
			<!-- TODO 7 Best calculators-->
			<article>
				<header>
					<h3>Die besten und schlechtesten Taschenrechner</h3>
				</header>
				<div class="ordered_list">
					<p>In einer <time datetime="2014">2014</time> durchgeführten Benutzerbefragung schnitten die Modelle von Casino am Besten ab:</p>
					<ol>
						<li>Casino UX5</li>
						<li>Casino TZZ</li>
						<li>Casino Basic</li>
					</ol>
					<p>Am schlechtesten schnitten die Geräte von HG ab:</p>
					<ol reversed start="78">
						<li>HG Productive</li>
						<li>HG Calc++</li>
						<li>HG GO-ON</li>
					</ol>
				</div>
				<footer>
					<div class="last_changed">
						<p class="last_changed_left">Zuletzt geändert von Petra Summer</p>
						<time class="last_changed_right" datetime="2016-02-11 14:13">
							Donnerstag, 11. Februar 2016, 14:13
						</time>
					</div>
				</footer>
			</article>
			<!-- TODO: 8 calculator search-->
			<article>
				<header>
					<h3>Taschenrechner suchen nach Modell</h3>
				</header>
				<form autocomplete="off" >
					<div class="autocomplete" >
						<input id="search_calc" type="search" title="Type in a calculator"/>
					</div>
					<button id="button_search" type="button">
						<img id="svg_icon-search" src="../media/icon-search.svg" alt="search"/>
						Search
					</button>
				</form>

				<script>
					function autocomplete(text_input, calc_array) {
						text_input.addEventListener("input", function(e) {
							let contain_element, list_element, text_val=this.value;
							closeList();
							contain_element = document.createElement("DIV");
							contain_element.setAttribute("id", this.id +"autocomplete_list");
							contain_element.setAttribute("class", "autocomplete_items");
							this.parentNode.appendChild(contain_element);
							for(let i = 0; i < calc_array.length; i++){
								if(calc_array[i].substring(0, text_val.length).toUpperCase()==text_val.toUpperCase()) {
									list_element = document.createElement("DIV");
									list_element.innerHTML = calc_array[i];

									list_element.innerHTML += "<input type='hidden' value='" + calc_array[i] + "'/>";
									list_element.addEventListener("click", function(e){
										text_input.value = this.getElementsByTagName("input")[0].value;
										closeList();
									});
									contain_element.appendChild(list_element);
								}
							}
						});

						function closeList(e) {
							let x = document.getElementsByClassName("autocomplete_items");
							for (let i = 0; i < x.length; i++) {
								x[i].parentNode.removeChild(x[i]);
							}
						}

						document.addEventListener("click", function (e) {
							closeList();
						});
					}

					const calculators = [
						"Mexico Instrument TI 30",
						"Mexico Instrument TI 32",
						"Mexico Instrument D*D",
						"Casino UX5",
						"Casino TZZ",
						"Casino Basic",
						"HG Calc++",
						"HG Productive",
						"HG GO-ON"];

					autocomplete(document.getElementById("search_calc"), calculators);

					<!-- TODO: open explorer-->
					/*function openExplorer() {
						let thePath = 'C:/Users/';
						window.open('file://' + thePath, 'explorer');
					}*/
				</script>
				<!-- TODO: 9 form new autor-->
				<header>
					<h2>Neuen Autor registrieren</h2>
				</header>
				<form id="form_newautor">
					<p class="form_title">Autor</p>
					<div id="form_autor">
						<div class="check_block_element">
							<label for="gender1">Herr</label>
							<input id="gender1" type="radio" name="gender" value="Herr" checked />
						</div>
						<div class="check_block_element">
							<label for="gender2">Frau</label>
							<input id="gender2" type="radio" name="gender" value="Frau" />
						</div>
						<label for="autorname">Name</label>
						<input class="form_textinput" id="autorname" type="text" name="name" required/>
						<label for="autoremail">Email</label>
						<input class="form_textinput" id="autoremail" type="email" name="email" required/>
						<label for="website">Website</label>
						<input class="form_textinput" id="website" type="url" name="website" required/>
						<label for="birthday">Geburtsdatum</label>
						<input class="form_textinput" id="birthday" type="date" name="birthdate" required/>
						<label for="country">Nationalität</label>
						<select id="country" name="country" required>
							<option value="" selected disabled hidden>-- Wählen --</option>
							<option value="Switzerland">Switzerland</option>
							<option value="Germany">Deutschland</option>
							<option value="France">Frankreich</option>
							<option value="Italy">Italien</option>
							<option value="Austria">Österreich</option>
						</select>
						<label for="profiletext">Profiltext</label>
						<textarea class="form_textinput" id="profiletext" required></textarea>
						<p>Profilbilder</p>
						<!--TODO: open explorer-->
						<button id="button_explore" type="button" onclick="javascript:return openExplorer();">Browse...</button>
						<p id="text_no_img">No files selected.</p>
					</div>
					<p class="form_title">Rechtliches</p>
					<div id="form_legal">
						<div class="check_block_element">
							<input type="checkbox" name="Conf1" required/>
							<aside>Ich bestätige, das ich keine Texte veröffentlichen werde, deren Urheber ich nicht bin</aside>
						</div>
						<div class="check_block_element">
							<input type="checkbox" name="Conf2" required/>
							<aside>Ich bestätige, das ich keine Medien veröffentlichen werden, deren Urheber ich nicht bin</aside>
						</div>
						<div class="check_block_element">
							<input type="checkbox" name="Conf3" required/>
							<aside>
								Ich bestätige, das nur Texte veröffentlichen werde, die nach bestem Treu und glauben der Wahrheit entsprechen und eingereichte Medien Bilder nicht manipuliert wurden
							</aside>
						</div>
					</div>
					<button id="button_submit" type="submit" >Account anlege</button>
					<button id="button_reset" type="reset" >Eingaben zurücksetzen</button>
				</form>
			</article>
		</main>
		<footer>
			<address>
				<p class="text_italic">Bahnhofstrasse 42, 8000 Zürich</p>
				<a href="tel:0554443322">055 444 33 22</a>
				<a href="mailto:info@wikipraktika.com">info@wikipraktika.com</a>
			</address>
			<div id="conditions">
				<p>Alle Inhalte von
					<span class="text_italic">Wikipraktika</span>
					stehen unter der
				</p>
				<a href="http://creativecommons.org/licenses/by-sa/4.0/">
					<img id="png_license" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" alt="Creative Commons License"/>
				</a>
				<a href="http://creativecommons.org/licenses/by-sa/4.0/">
					Creative Commons Attribution-ShareAlike 4.0 International License
				</a>
				<p>und dürfen nur mit Nennung des Autors weiterverwendet werden.</p>
			</div>
		</footer>
	</body>
</html>