<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Wikipraktika | Taschenrechner - tragbare, handliche elektronische Rechenmaschine</title>

		<!-- TODO: author, publisher, description, bookmark icon -->
		<meta name="author" content="Wikipraktika">
		<meta name="publisher" content="Wikipraktika">
		<meta name="description" content="Taschenrechner: tragbare, handliche elektronische Rechenmaschine">
		<link rel="icon" type="image/png" href="../media/icon-wikipraktika.png">
		<link rel="stylesheet" type="text/css" href="styles/styles.css">
	</head>
	<body>
		<header>
			<!-- TODO -->
			<img src="..\media\logo-wikipraktika.svg" id="logo" alt="logo">
			<h1>Wikipraktika</h1>
		</header>
		<!-- TODO navigation-->
		<nav>
			<header>
				<h2>Navigation</h2>
			</header>
			<ul>
				<li><a href="index.html">Hauptseite</a></li>
				<li><a href="index.html">Themenportal</a></li>
				<li>Mitmachen
					<ul>
						<li><a href="index.html">Artikel verbessern</a></li>
						<li><a href="index.html">Neuen Artikel anlegen</a></li>
						<li><a href="index.html">Autorenportal</a></li>
						<li><a href="index.html">Hilfe</a></li>
						<li><a href="index.html">Letzte Änderungen</a></li>
						<li><a href="index.html">Kontakt</a></li>
						<li><a href="index.html">Spenden</a></li>
					</ul>
				</li>
				<li>Werkzeuge
					<ul>
						<li><a href="index.html">Link auf diese Seite</a></li>
						<li><a href="index.html">Änderungen an verlinkten Seiten</a></li>
						<li><a href="index.html">Permanenter Link</a></li>
						<li><a href="index.html">Artikel zitieren</a></li>
					</ul>
				</li>
				<li>In anderen Sprachen
					<ul>
						<li><a href="index.html">Italiano</a></li>
						<li><a href="index.html">Francais</a></li>
						<li><a href="index.html">English</a></li>
					</ul>
				</li>
			</ul>
		</nav>


		<main>
			<!-- Schriftgrössenwechsler: optionale Aufgabe -->
			<form id="font-size-form">
				<label for="font-slider">Schriftgrösse</label>
				<input type="range" min="8" max="20" step="1" value="10" title="1" name="font-slider"
					   id="font-slider" />
				<output name="font-size" id="font-size">1</output>
			</form>

			<!-- TODO -->
		</main>

		<!-- TODO -->
	</body>
</html>