<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Wikipraktika | Taschenrechner - tragbare, handliche elektronische Rechenmaschine</title>

		<!-- TODO: author, publisher, description, bookmark icon -->
		<meta name="author" content="Wikipraktika">
		<meta name="publisher" content="Wikipraktika">
		<meta name="description" content="Taschenrechner: tragbare, handliche elektronische Rechenmaschine">
		<link rel="icon" type="image/png" href="../media/icon-wikipraktika.png">
		<link rel="stylesheet" type="text/css" href="styles/styles.css">
	</head>
	<body>
		<header>
			<!-- TODO -->
			<img src="..\media\logo-wikipraktika.svg" id="logo" alt="logo">
			<h1>Wikipraktika</h1>
		</header>
		<!-- TODO navigation-->
		<nav>
			<header>
				<h2>Navigation</h2>
			</header>
		</nav>


		<main>
			<!-- Schriftgrössenwechsler: optionale Aufgabe -->
			<form id="font-size-form">
				<label for="font-slider">Schriftgrösse</label>
				<input type="range" min="8" max="20" step="1" value="10" title="1" name="font-slider"
					   id="font-slider" />
				<output name="font-size" id="font-size">1</output>
			</form>

			<!-- TODO -->
		</main>

		<!-- TODO -->
	</body>
</html>