/* reset */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* fonts */
#font-size-form > label, #font-size-form > input, #font-size-form > output {
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    margin: 0;
}

#font-size-form {
    float: right;
}
/* document */
body {
    font-size: 1rem;
    font-family: "URW Gothic L", "Helvetica", "Arial", sans-serif;
    counter-reset: h3;
}

main, nav {
    margin-left: 1rem;
    counter-reset: h3;
}

body > header {
    margin-bottom: 2.5rem;
}

nav {
    margin-top: 2rem;
    margin-right: 0.5rem;
}

article {
    display: block;
}
/* images */
#logo {
    display: inline;
    position: relative;
    float: left;
    padding: 5px;
}


/* text */
h1 {
    background-color: #0060A0;
    color: white;
    width: 100%;
    padding: 1rem;
    font-size: 3rem;
}

h2 {
    font-size: 2em;
    display: block;
    padding: 0.5rem;
}

h3 {
    font-size: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0;
    margin-bottom: 1rem;
    border-bottom: solid 1px black;
}

h3:before {
    content: counter(h3);
    counter-increment: h3;
    padding-right: 1rem;
}
p {
    padding-top: 0.5rem;
}
/* lists */
nav > ul {
    border: black solid 0.1rem;
    background-color: #F4F3F4;
    padding: 0.5em;
}

li, ul {
    list-style-type: none;
}

nav > ul > li  > ul {
    margin-left: 1rem;
}

/* table */


/* forms */
form {
    padding: 0.5rem;
}

#font-size-form {
    float: right;
}

#font-size-form > label, #font-size-form > input, #font-size-form > output {
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    margin: 0;
}

