/* reset */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* fonts */
#font-size-form > label, #font-size-form > input, #font-size-form > output {
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    margin: 0;
}
#font-size-form {
    float: right;
}

/* document */
body {
    font-size: 1rem;
    font-family: "URW Gothic L", "Helvetica", "Arial", sans-serif;
    counter-reset: h3;
}
main {
    margin: 1rem;
}

main, nav {
    margin-left: 1rem;
    counter-reset: h3;
}

.navigation {
    margin: 0.5rem 0.5rem;
}
nav > ul {
    border: #0060a0 solid 0.1rem;
    background-color: #F4F3F4;
    padding: 0.5em;
}

nav a {
    color: #005da0;
}

body > header {
    width: 100%;
    height: 4.5rem;
    background-color: #005da0;
    margin: 0 0 2rem 0;
}

nav {
    margin-top: 2rem;
    margin-right: 0.5rem;
}

article {
    display: block;
}

small {
    font-size: .8rem;
    display: block;
    margin: 1rem 0;
}

small > a {
    color: black;
}

body > footer{
    width: 100%;
    background-color: rgb(0, 96, 160);
    color: white;
}
.text_italic{
    font-style: italic;
}
#conditions, address{
    padding: 6px 15px 6px 6px;
}
#conditions span,
#conditions p,
#conditions img,
#conditions a{
    display:inline;
    font-size: smaller;
    color: white;
}
address a{
    font-style: normal;
    color: white;
}

/* images */
#logo {
    margin: .5rem;
    height: 5rem;
    width: 5rem;
    float: left;
}

#merchant_calc {
    float: left;
    width: 300px;
}

#merchant_calc img {
    width: 100%;
}

#merchant_calc  figcaption {
    font-size: .8rem;
    color: #888888;
    word-wrap: break-word;
}

#svg_zeitgewinn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

#video_youtube iframe {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    position: absolute;
}

#wrapper_youtube{
    padding-bottom: 56.25%;
    overflow: hidden;
    position:relative;
}
#video_youtube figcaption {
    position:relative;
}
video {
    max-height: 80%;
    max-width: 100%;
    width: auto;
}

#png_license{
    vertical-align: middle;
}
#svg_icon-search {
    display: flow;
    width: 18px;
    margin: 2px 5px 2px 5px;
    vertical-align: middle;
}

/*js calc*/
#demo_calc iframe{
    display: inline-block;
    width: calc(100vw - 50vw);
    height: calc(100vw - 40vw);
    border: none;
    border-radius: 1rem;
}

/* hreflang */
a[hreflang='en']:before {
    background-image: url("../../media/flag-en.svg");
}

a[hreflang='it']:before {
    background-image: url("../../media/flag-it.svg");
}

a[hreflang='fr']:before {
    background-image: url("../../media/flag-fr.svg");
}

a[hreflang]::before {
    background-size: 100% 100%;
    width: 1em;
    height: 0.75em;
    margin-right: 0.2em;
    content: '';
    margin-top: 5px;
    display: inline-block;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

    /* text */
h1 {
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 4.5rem;
}

h2 {
    font-size: 2em;
    display: block;
}
nav > header > h2{
    margin: 0.5rem;
}
h3 {
    font-size: 1.5rem;
    padding-top: 0.5rem;
    margin-bottom: 1rem;
    border-bottom: solid 1px black;
}

h3:before {
    content: counter(h3);
    counter-increment: h3;
    padding-right: 0.5rem;
}

h4 {
    font-size: 1rem;
    padding-top: 0.5rem;
}

p {
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
}

.last_changed {
    border: 2px dotted black;
    font-style:italic;
    margin-bottom: 1rem;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.last_changed_left {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    margin: 0;
}
.last_changed_right {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.video_caption {
    font-size: 0.9rem;
    color: rgb(127, 127, 127);
    padding-bottom: 1rem;
}
.reference, .reference>a {
    font-size: 0.9rem;
    color: black;
    padding-bottom: 1.5rem;
}

.caption {
    color: #888888;
}
/* lists */
nav > li, ul {
    list-style-type: none;
}

nav > ul > li  > ul {
    margin-left: 1rem;
}

ol {
    list-style-position: inside;
}

dt {
    font-weight: bold;
    color: #005da0;
}

dd {
    margin-left: 1rem;
}

dd:before {
    content: "\2316";
    margin-right: 0.2rem;
    font-weight: bold;
}

/* table */
table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}
table td, th {
    padding: 5px;
}
table tr:nth-child(odd) {
    background-color: rgb(219, 230, 239);
    border-bottom: 2px solid rgb(187, 207, 227);
    border-top: 2px solid rgb(187, 207, 227);
}
table tr th:first-child{
    text-align: left;
    width: 40%;
}
table tr:first-child {
    background-color: rgb(0, 96, 160);
    border-bottom: 4px solid black;
    border-top: 4px solid black;
    color: white;
}

/* forms */
form {
    padding: 0.5rem;
}

#form_legal, #form_autor {
    border: 1px solid rgb(137, 137, 137);
    color: rgb(137, 137, 137);
    border-radius: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 6px;
    padding-top: 30px;
}
.form_textinput,
input[type="checkbox"],
input[name="gender"],
select[name="country"]{
    margin-bottom: 20px;
    color: black;

}
.check_block_element{
    display:block;
}
.check_block_element aside{
    display:inline;
}
.form_textinput{
    display:block;
}

.form_textinput:focus, #search_calc:focus {
    color: rgb(0, 120, 162);
}

#search_calc, .form_textinput{
    background: rgb(245, 245, 245);
    color: black;
    font-size: 1rem;
    border-style: none;
    border-color: rgb(245, 245, 245);
    border-bottom: 2px solid black;
    padding: 2px 8px 2px 8px;
    width: 100%;
}

input[name="gender"] {
    margin-left: 5px;
}

select[name="country"]{
    width: 100%;
}

select[name="country"], #button_explore {
    background: rgb(245, 245, 245);
    font-size: larger;
    color: black;
    border-radius: 3px;
    padding-top: 2px;
    padding-bottom: 2px;
}
textarea{
    height: 140px;
    display:block;
}
input, textarea, select{
    outline: none;
}

#text_no_img{
    display: inline-block;
    font-size: larger;
}

.form_title{
    color: black;
    position: relative;
    top: 20px;
    left: 6px;
    background-color: white;
    padding: 0px;
    margin: 0px;
    width: fit-content;
}
#button_search, #button_reset, #button_submit {
    font-size: 0.9rem;
    color: white;
    box-shadow: 3px 3px 8px rgb(197, 197, 197) ;
    border-radius: 3px;
    vertical-align: middle;
    padding: 2px 8px 2px 8px;
    background: rgb(0, 96, 160);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: none;
}
#button_reset, #button_submit{
    padding: 4px 8px 4px 8px;;
}

#button_explore{
    padding: 4px;
    box-shadow:none;
    border-style: solid;
}

/* autocomplete*/
.autocomplete {
    position: relative;
    display: inline-block;
    margin-bottom: 40px;
}
.autocomplete_items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}
.autocomplete_items div {
    background-color: rgb(245, 245, 245);
    font-size: smaller;
}
.autocomplete_items div:hover {
    background-color: rgb(241, 114, 59);
    color: white;
}